@model NecessaryTools.Models.PassMake.GtrPassword

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.EncriptedPass)
        @Html.TextBoxFor(m => m.EncriptedPass, new { @class = "form-control" })

        @Html.LabelFor(m => m.RealPass)
        @Html.TextBoxFor(m => m.RealPass, new { @class = "form-control" })
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#EncriptedPass").keyup(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GtrPass", "PassMake")',
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                Pass: $(this).val()
            }),
            success: function (response) {
                $("#RealPass").val(response.RealPass);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });
</script>
